/****** main ***********/
* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}
.fa-location-dot {
  color: #000;
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
}

ul {
  list-style: none;
  text-decoration: none;
}
a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutralStar {
  color: var(--main-bg-color);
}
/****** Header and nav ***********/
.header-logo img {
  display: flex;
  max-height: 19px;
  padding: 30px 30px 30px 0px;
}

.clicked {
  border-top: 2px solid var(--main-color);
}
.clicked a {
  color: var(--main-color);
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.header-navigation,
ul {
  display: flex;
  gap: 50px;
  margin: 0;
}

.header-navigation li {
  align-items: center;
  display: flex;
}
/****** headline ***********/
.headline h1 {
  font-size: 22px;
}
.headline {
  margin-bottom: 30px;
}

/****** Search Bar ***********/
.search-container {
  display: flex;
  max-height: 49px;
}

.search-container input {
  height: 49px;
}

.search-input input {
  border: 1px solid var(--main-bg-color);

  font-size: 16px;
  font-weight: 700;
}

input::placeholder {
  text-align: center;
  color: #000;
  opacity: 1;
}

.search-submit input {
  background-color: var(--main-color);
  color: white;

  border-radius: 0px 15px 15px 0px;
  border: none;

  font-size: 16px;
  font-weight: 700;
}

.search-location {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--main-bg-color);
  border-radius: 15px 0px 0px 15px;

  width: 50px;
  height: 49px;
}
/****** Filters ***********/

.filter-container {
  display: flex;
  align-items: center;
  font-weight: 700;
  gap: 15px;
}
.filter-container h2 {
  font-size: 18px;
}
.filter {
  display: flex;
  flex-wrap: nowrap;

  align-items: center;

  border: 2px solid #d9d9d9;
  border-radius: 25px;

  padding: 0px 19px;
  height: 50px;
  font-size: 17px;

  gap: 10px;
}
.filter:hover {
  background-color: #deebff;
}
.info-bar p {
  display: flex;
  align-items: center;
  gap: 10px;
}
#info {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  border: 1px solid #d9d9d9;

  width: 24px;
  height: 24px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
  background-color: var(--main-bg-color);
}
.hebergement-title {
  display: flex;
}
.hebergement-cards {
  display: flex;
  gap: 30px;
}

.hebergement-cards .card {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  width: 100%;
  margin-top: 30px;
}

.hebergement-cards img {
  max-height: 124px;

  width: 100%;
  border-radius: 20px 20px 0px 0px;
}
.card .card-content {
  margin-left: 15px;
  width: 100%;

  gap: 8px;
}
.card-content,
h3 + p {
  margin: 0;
}

.hebergement-cards .card-content {
  display: flex;
  flex-direction: column;
}
.hebergement-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}
.populaires-cards .card-subtitle {
  margin: 0;
}

.herbergement-cards .card-rating {
  margin-bottom: 5px;
}

.plus {
  font-weight: 700;
  font-size: 18px;
  margin-top: 30px;
  margin-bottom: 0px;
}

/****** Populaires ***********/
.populaires {
  width: 32%;
  background-color: var(--main-bg-color);
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 134px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}
/****** Activity ***********/
.activity-container {
  display: flex;
  flex-direction: column;
  gap: 30px;

  margin-top: 35px;
  padding: 30px;
  box-sizing: border-box;
}
.activity-container .card {
  max-width: 100%;
  max-height: 100%;
  width: 33%;
  font-weight: 700;
  font-size: 16px;
  padding: 0px;
}

.activity-card {
  display: flex;
  gap: 30px;
}
.activity-card .card {
  display: flex;
  flex-direction: column;
}

.activity-container img {
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  height: 86%;
}
.activity-container .card-content {
  display: flex;
  max-height: 70px;
  height: 70px;
  margin: 0;
}

.activity-container .card-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.activity-title {
  width: 100%;
  height: 30px;
}
/****** footer ***********/
.footer-container {
  display: flex;
  flex-direction: row;

  background: #f2f2f2;
  margin-top: 80px;

  height: 100%;
}
.footer-container ul {
  display: flex;
  flex-direction: column;
  margin: 20px;
  gap: 15px;
}

.footer-container span {
  display: flex;
  font-size: 18px;
  font-weight: 700;
}
.footer-content {
  display: flex;
  width: 100%;
}

.function,
.nos-herbergements,
.assistance {
  display: flex;
  width: 33%;
  line-height: 19px;
  gap: 0;
}

/****** MAX WIDTH 1024px***********/

@media (max-width: 1024px) {
  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards .card {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }
}
/****** MAX WIDTH 768px ***********/

@media (max-width: 767.98px) {
  .header-container {
    flex-direction: column;
    align-items: center;
  }
  .header-navigation ul {
    width: 411px;
    height: 36px;
    text-align: center;

    padding: 0;
  }
  .header-navigation li {
    width: 100%;
    justify-content: center;
  }
  .clicked {
    border-top: 0px solid var(--main-color);
    border-bottom: 2px solid var(--main-color);
    width: 100%;
  }
  .search-container {
    justify-content: center;
  }
  .filtres {
    width: 100%;
  }
  .filter {
    width: 47%;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    justify-content: center;
  }
  .filter-container {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  .hebergements-and-populaires section {
    flex-direction: column;
    border-radius: 0px;
    width: 100%;
  }

  .hebergements {
    width: 100%;
    background-color: #ffffff;

    order: 1;
  }
  .hebergement-cards {
    width: 100%;
    flex-direction: column;
  }

  .populaires {
    width: 100%;
    margin-bottom: 50px;

    order: 0;
  }

  .populaires-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .populaires-cards .card {
    width: 100%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }
  .activity-card {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .activity-card .card {
    width: 100%;
  }

  .activity-card img {
    display: flex;
    flex-direction: column;
    max-height: 141px;
  }
  .footer-content {
    flex-direction: column;
  }
  .footer-container {
    height: 461px;
    margin: 0;
    width: 100%;
  }
  .function,
  .nos-herbergements,
  .assistance {
    width: 100%;
    height: 100%;
  }
}
